:root {
    --background-color-light: #FABFCF;
    --background-color-light-2: #f0f2cf;
    --background-color-dark: #46467a;
    --textarea-div-color-dark: #E0DFFD;
    --textarea-div-color-light: #7766C6;

}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        background-blend-mode: lighten;

        & #write {
            background-color: var(--background-color-light-2);
        }

        & #logo {
            background-color: var(--background-color-dark);

            & img {
                mix-blend-mode: lighten;
            }
        }
    }

}

#logo {
    width: 80%;

    & img {
        width: 100%;
        mix-blend-mode: lighten;
        display: none;
    }
}


[data-theme="dark"] body {
    background-color: var(--background-color-dark);
    background-blend-mode: lighten;

    & #write {
        background-color: var(--background-color-light-2);
        & textarea#new {
        caret-color: var(--background-color-light);
        color: var(--background-color-dark);
    }
    }

    & #logo {
        background-color: var(--background-color-dark);

    }

}


[data-theme="light"] body {
    background-image: url(images/Symmetry\ Symptom.gif);
    background-color: var(--background-color-light);

    & #write {
        background-color: var(--textarea-div-color-light);
        
        & textarea#new {
        color: var(--background-color-light-2);
        caret-color: var(--background-color-light);
        }
    }

    & #logo {
        background-color: var(--background-color-light);

        & #lightlogo {
            mix-blend-mode: normal;
        }

    }
}


html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

input, textarea {
    all: unset;
}

@media screen and (max-width: 480px) {

    html,
    body {
        min-width: 320px;

    }
}


body {
    background-image: url(images/Symmetry\ Symptom.gif);
    background-color: var(--background-color-light);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    height: 100%;
    padding: 2rem;
    padding-block: 4rem;
    
}





#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    height: 6rem;


    & img {
        width: 3rem;
    }

    & #write {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        padding: 0.5rem;


        & textarea#new {
            font-size: 18px;
            height: 3rem;
            background-color: transparent;
            border: none;
            overflow: hidden;
            
        }

        & textarea#new:focus {
            outline: none !important;


        }
    }
}
