:root {
  --background-color-light: #fabfcf;
  --background-color-light-2: #f0f2cf;
  --background-color-light-3: #f4ebdc;
  --background-color-contrast: #fbc40f;
  --background-color-dark: #46467a;
  --textarea-div-color-dark: #e0dffd;
  --textarea-div-color-light: #544693;
  --font-data: #7766c6;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "texto";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "titulo";
  src: url(../assets/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf);
}

@font-face {
  font-family: "detalhe";
  src: url(../assets/fonts/Chivo/static/Chivo-Medium.ttf);
}

html,
body,
p,
h1,
a {
  margin: 0;
  margin-block: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input,
textarea,
li,
ul,
header,
p,
div,
a,
button {
  all: unset;
}

p {
  font-family: "texto";
}

h1 {
  font-family: "titulo";
}

/*------ Settings ------*/
.container {
  --size: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  -webkit-user-select: none;
  user-select: none;
}

.container .moon {
  position: absolute;
  animation: keyframes-fill 0.5s;
  fill: var(--background-color-dark);
}

.container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
  fill: var(--background-color-light);
}

/* ------ On check event ------ */
.container input:checked~.moon {
  display: none;
}

.container input:checked~.sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}

/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        background-blend-mode: lighten;

        & #write {
            background-color: var(--background-color-light-2);
        }

        & .logo {
            background-color: var(--background-color-dark);

            & img {
                mix-blend-mode: lighten;
                object-fit: cover;

            }
        }
    }

} */

.logo {
  width: 80%;

  & img {
    width: 260px;
    mix-blend-mode: lighten;
    display: none;
    transition: all 500ms ease-in;
    aspect-ratio: auto 140 / 260;
  }
}

[data-theme="dark"] body {
  background-color: var(--background-color-dark);
  background-blend-mode: lighten;
  --font-li: #f4ebdc;
  --font-data: #f4ebdc;
  --background-li: #7866c696;
  --theme: var(--background-color-dark);

  & #write {
    background-color: var(--background-color-light-3);

    & svg {
      fill: var(--background-color-dark);
    }

    & #new {
      caret-color: var(--background-color-dark);
      color: var(--background-color-dark);
    }
  }

  #new::placeholder {
    color: var(--textarea-div-color-light);
    font-family: "texto";
    font-size: 16px;
  }

  & #logoescura {
    /* background-color: var(--background-color-dark); */
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

    & #darklogo {
      object-fit: cover;
    }
  }
}

[data-theme="light"] body {
  background-color: var(--background-color-light);
  --font-li: #f5f4fb;
  --background-li: var(--font-data);
  --theme: var(--background-color-light);

  & #write {
    background-color: var(--background-color-light-3);
    border: 2px solid var(--textarea-div-color-light);

    & svg {
      fill: var(--textarea-div-color-light);
    }

    & #new {
      color: var(--background-color-dark);
      /* caret-color: var(--background-color-light); */
    }
  }

  #new::placeholder {
    color: var(--background-color-dark);
    font-family: "texto";
    font-size: 16px;
  }

  & #logoclara {
    /* background-color: var(--background-color-light); */
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

    & #lightlogo {
      mix-blend-mode: normal;
      object-fit: cover;
    }
  }
  
}

@media screen and (max-width: 600px) {

  html,
  body {
    min-width: 320px;
  }






}


@media (min-width: 598px){
  #input-div{
    max-width: 600px;
  }
  
  .itemLista{
    padding: 10%;
    width: 40%;
  }
  
  #modal{
    max-width: 600px;

  }
 

}


body {
  background-image: url(../assets/images/background2.webp);
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
  height: 100%;
  padding: 5%;
  padding-block: 6%;
  transition: background 300ms;
  overflow: hidden;
}

#wrapper {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* filter: blur(0.5rem); */
}

#input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  height: 6rem;
  width: 100%;


  & svg {
    width: 3rem;
  }

  & #new {
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    border: none;
    overflow: hidden;
    display: flex;
    justify-content: center;

    & #new:focus {
      outline: none !important;
    }
  }

  & #write {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-radius: 1rem;
    /* padding-inline: 1rem; */
    padding-block: 0.5rem;
    height: 2rem;
    cursor: pointer;

    & h3 {
      font-family: "texto";
      margin-block: 8px;
      margin-inline: 1rem;
      font-size: 14px;
      font-weight: 100;
      color: var(--textarea-div-color-light);
    }
  }
}

#div-lista {
  position: relative;
  margin-top: 2%;
  list-style-type: none;
  width: 100%;
  padding: 2%;
  bottom: 10%;
}

#lista {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 2rem;
  color: var(--font-li);
  height: 54vh;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  

  & .itemLista {
    display: flex;
    flex-direction: column;
    padding: 2%;
    display: flex;
    justify-content: start;
    margin-bottom: 3%;
    -webkit-user-select: none;
    user-select: none;

    & .data {
      margin-bottom: 1rem;

      & p {
        color: var(--font-data);
        font-family: "detalhe";
        font-size: 1em;
      }
    }

    & .sonhoLista {
      border-radius: 2rem;
      background-color: var(--background-li);
      color: var(--font-li);
      padding: 7%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      min-width: 300px;
      max-width: 600px;

      & .preview {
        max-width: 75%;
      }

      
      & .preview h1 {
        font-size: 20px;
        font-family: "titulo";
      }

      & .preview p {
        font-size: 14px;
        font-weight: 300;
      }

      & .detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        & .duracao {
          white-space: nowrap;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;
          word-break: keep-all;

          & p {
            font-family: "detalhe";
            font-size: 14px;
          }
        }

        & #time p {
          font-size: 12px;
          font-family: "detalhe";
        }
      }
    }
  }
}

#vazio{
  display: none;
  margin: 2rem;
  font-size: 18px;
  color: var(--font-data);
  justify-content: center;
}

img#sleep {
  width: 1.5rem;
  aspect-ratio: 1/2;
}

#bar {
  background-color: var(--background-color-light-3);
  width: 100%;
  height: 25vh;
  margin: 0px;
  padding: 0px;
  align-self: bottom;
  position: fixed;
}

#modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color-light-3);
  z-index: 1;
  height: 50vh;
  width: 90vw;
  border-radius: 2rem;
  align-items: center;
  justify-content: top;
  flex-direction: column;

  & .topModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-inline: 1rem;
    margin-top: 0.5rem;

    & h3 {
      margin: 0px;
      font-family: "titulo";
      color: var(--background-color-dark);
      

    }

    & #sonhoTitulo{
      border-bottom: 0.5px solid var(--background-color-dark);
      width: min-content;
      /* text-decoration: underline; */
      transition: color 200ms;
    }

    & input:focus::placeholder{
      color: transparent;
    }
  }

  & #closeModal {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* margin-inline: 0.5rem; */
    /* margin-top: 0.5rem; */
    width: 2rem;
  }

  & .textbox {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 1rem;
    /* margin-top: 2.5rem; */
    height: 70%;
    border-radius: 1rem;

    & textarea {
      background-color: #7766c6;
      width: 99%;
      border-radius: 0.5rem;
      border: 4px solid var(--background-li);
      padding: 1rem;
      color: var(--font-li);
      font-family: "texto";
    }

    & ::placeholder {
      color: var(--font-li);
    }
  }

  & .bottomModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 90%;
    margin-inline: 1rem;

    & #send {
      width: 1.5rem;
    }

    & p{
      font-size: 12px;
    }
  }
  
}


